<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dockers Project</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

  <div id="particles-js"> </div>


    <!-- Add your image here -->
    <div class="container text-center mt-5">
        <h1 class="display-4">Welcome to Dockers by Seif Yakout!</h1>
        <p class="lead"> I am learning dockers and mastering how I could use it with Ansible very soon isa.</p>
        <p> Hello Everyone I am sharing with you my work to proof I learned dockers in a correct way! Thank you</p>

        <!-- Display Image -->
        <img src="static/images/docker.png" alt="AWS Cloud" width="500px" class="img-fluid">
        <p> Hello Seif is trying! </p>
        <h2>Seifo is trying nodemon</h2>

    </div>

    <script src="static/js/particles.min.js"></script>
    <script src="static/js/app.js"></script>
  
</body>
</html>
